* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    Font-Family: "Roboto", "Helvetica", "Arial", sans-serif;
    
    }
    body{
        background-color: #000;
    }
    


.clear { clear: both;}
.header{
    background: none;
    height: 200px;
    height: 100px;
    
}
header .navbar{
    margin-top: 50px;
    width: 100%;
    margin-left: 0%;
}
.navbar .navitems {
    padding-left: 123px;
}



.section-header { text-align: center;
                   margin-bottom: 20px;
                   color: #42AAC4;
                   margin-top: 100px;
                   
                }
                   
.library-item {    float: right;
                   margin-bottom:25px;
                   position: relative;
                   padding: 20px
                  }
                   
 .library-item .layer { position: absolute;
                          top: 0;
                          left:0;
                          width: 100%;
                          height: 100%;
                          background-color:rgba(0,0,0,.5);
                          opacity: 0;
                          visibility: hidden;
                          transition: opacity .5s; }
                          
  .library-item:hover .layer { opacity:1;
                               visibility: visible;}
                                  
  
 .library-item img { width: 100%; height:300px;}
 .layer .layer-info{ position: absolute;
                     left: 50%;
                     top: 50%;
                     transform: translate(-50%,-50%);
                     width: 80%;
                     text-align: center;}
.library-item p {
    color: #fff;
    text-transform: capitalize;
    margin-top: 30px;
    font-size: 18px;
}

.layer .layer-info .layer-h {   font-size: 20px;
                                color: #fff;
                                margin-bottom: 10px;
                                position: relative;
                                top: 10px;
                                transition: top .5s, opacity .5s;
                               transition-delay: 0.3s;
                                opacity: 0; }
                                
    .layer .cate {  color: #42AAC4;
                    display: block;
                    font-weight: bold;
                    margin-bottom: 5px;
                    position: relative;
                    top: 10px;
                    transition: top .5s, opacity .5s;
                    transition-delay: .2s;
                     opacity: 0;}
             
.layer a {  color: #fff;
            position: relative;
            top: 10px;
            transition: top .5s, opacity .5s;
            transition-delay: .3s;
            opacity: 0;}

.layer a i { display: inline-block;
           background-color: #42AAC4;
           width: 40px;
           height: 40px;
           line-height: 40px; }

.library-item:hover .layer-h,
.library-item:hover .layer .layer-info .cate,
.library-item:hover .layer .layer-info a { top: 0;
                                          opacity: 1;}
 .section-title{
    color :#42AAC4;
    background:#082837;
    box-shadow: 0 0 10px #2196f3, 0 0  40px#2196f3, 0 0 80px #2196f3;
    transition-delay: 0.9s;
    text-align: center;
    height: 50px;
    top:auto;
    width: 600px;
    margin: auto;
    margin-bottom: 70px;
    border-radius: 30px;

}